
.question-input {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    transition: color 0.3s; /* Add the transition property */
    resize: none;
}

.question-input:hover,
.question-input:focus {
    color: #007BFF; /* Set the text color for hover and focus states */
}


.answer-input {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    transition: color 0.3s; /* Add the transition property */
    resize: none;
}

.answer-input:hover,
.answer-input:focus {
    color: #007BFF; /* Set the text color for hover and focus states */
}

.difficulty-input {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 80px;
    border: none;
    outline: none;
    transition: color 0.3s; /* Add the transition property */
}

.difficulty-input:hover,
.difficulty-input:focus {
    color: #007BFF; /* Set the text color for hover and focus states */
}

h2 {
    margin-top: 20px; /* Adjust the value as needed */
    font-weight: bold;
    font-size: 40px;
}

.flashcard-container {
    height: 70vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard-form {
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    word-wrap: break-word;
    white-space: normal;
    height: 100%;
}

.btn.btn-primary {
    font-weight: bold;
}

.btn.btn-primary.btn-red {
    font-weight: bold;
    background-color: red;
}

.btn.btn-primary.btn-red:hover {
    background-color: darkred; 
}

/* Toggle switch styles */
.favorite-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.switch {
    position: absolute;
    top: 69.3%;
    left: 24%;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.favorite-toggle i {
    border: none;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    top: 65.9%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #ffd700;
}
