@model SEProject.Models.Flashcard

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/addFlashcard.css">
</head>
<body>
    <h2>Add Flashcard</h2>

    <div class="flashcard-container">
        <div class="flashcard-form">
            <form asp-action="AddFlashcardToPack" method="post">
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="PackID" />
                <div class="question">
                    <textarea asp-for="Question" class="question-input"></textarea>
                </div>

                <div class="answer">
                    <textarea asp-for="Answer" class="answer-input"></textarea>
                </div>

                <div class="difficulty">
                    <select asp-for="Difficulty" class="difficulty-input">
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Add Flashcard </button>
                <button type="button" class="btn btn-primary btn-red"
                        onclick="location.href='@Url.Action("ViewFlashcardPack", "FlashcardPack", new { id = Model.PackID })';">
                    Cancel
                </button>
            </form>
        </div>
    </div>

</body>