@model SEProject.Models.Flashcard

<head>
    <meta charset="utf-8" />
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="~/css/editFlashcard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <h2>Edit Flashcard</h2>
    <div class="flashcard-container">
        <div class="flashcard-form">
            <form asp-action="EditFlashcard" method="post">
                <input type="hidden" asp-for="PackID" />
                <input type="hidden" asp-for="ID" />
    
                <div class="question">
                    <textarea asp-for="Question" class="question-input"></textarea>
                </div>

                <div class="answer">
                    <textarea asp-for="Answer" class="answer-input"></textarea>
                </div>

                <div class="difficulty">
                    <select asp-for="Difficulty" class="difficulty-input">
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                </div>

                <div class="favorite-toggle">
                    <label class="switch">
                        <i id="filled" class="fas fa-star" title="Favorite"></i>
                        <input type="checkbox" id="favoriteToggle" asp-for="IsFavorite" />
                        <span class="slider round"></span>
                    </label>
                </div>
                <button id="submit-button" type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-primary btn-red" 
                    onclick="location.href='@Url.Action("ViewFlashcardPack", "FlashcardPack", new { id = Model.PackID })';">Cancel</button>
            </form>
        </div>
    </div>
    <script src="~/js/validateForm.js"></script>
</body>