@model List<Flashcard>

<h1>Sample Flashcards</h1>

<table>
    <thead>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Difficulty level</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var flashcard in Model)
    {
        <tr>
            <td>@flashcard.question</td>
            <td>
                <div style="display: none;" class="answer">@flashcard.answer</div>
                <button class="reveal-button">Reveal Answer</button>
            </td>
            <td>@flashcard.difficultyLevel</td>
            <td></td>
        </tr>
    }
    </tbody>
</table>

<script src="~/js/flashcard.js"></script>

